/* Navbar.css */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333; /* Change background color as needed */
    padding: 10px 20px;
  }
  
  .navbar-title {
    color: #ffcccc; /* Text color */
  }
  
  .navbar-buttons {
    display: flex;
  }
  
  .navbar-button {
    background-color: #555; /* Button background color */
    color: #fff; /* Button text color */
    border: none;
    padding: 10px 20px;
    margin-left: 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .navbar-button:hover {
    background-color: #777; /* Button background color on hover */
  }
  