/* Sidebar.css */

.sidebar {
    height: 100vh; /* Full height of the viewport */
    width: 250px; /* Sidebar width */
    background-color: #ffcccc;
    padding: 20px;
    color: black; /* Text color */
  }
  
  .sidebar-title {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .sidebar-menu {
    list-style: none;
    padding: 0;
  }
  
  .sidebar-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .sidebar-icon {
    margin-right: 10px;
  }
  
  .sidebar-text {
    font-size: 18px;
  }
  
  .sidebar-link:hover {
    text-decoration: underline;
  }
  